<div class="contener">
  <%= image_tag("moivoice/logo_ogp_blue.png", class: "logo") %>
  <h2>モイ！ボイス</h2>
  <ul class="btn_s">
    <li><%= link_to("スタート", twitcas_auth_oauth_index_path) %></li>
  </ul>
</div>