body{
  background-color: #333;
}
.mainbox {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 1280px;
  height: 720px;
  background-color: #333;
}
.colbox {
    display: flex;
  width: 1280px;
  height: 180px;
  flex-direction:row;
}
.middlebox{
  width: 1280px;
  height: 360px;
  margin: 0;
  border: 0;
}
.videobox{
  float: left;
  width: 640px;
  height: 360px;
  margin: 0;
  border: 0;
  background-color: #000;
  background-image: url(/assets/top-main.png);
}
.middlesubbox{
  float: left;
  width: 319px;
  height: 360px;
}
.squarebox{
  position: relative;
  width: 312px;
  height: 172px;
  margin: 0;
  padding: 0;
  background-color: #FFF;
  border: 4px solid #333;
}
.squareimg{
  margin-top: 22px;
}
.squareimg-side{
  margin-top: 37px;
}
.titlebox1{
  position: absolute;
  bottom: 0;
  width: 312px;
  height: 40px;
  color: #FFF;
  background-color: #504277;
  border-top: 6px solid #333;
  border-bottom: 2px solid #333;
}
.titlebox2{
  position: absolute;
  bottom: 0;
  right:0;
  width: 40px;
  height: 172px;
  color: #FFF;
  background-color: #fff094;
  border-left: 6px solid #333;
  border-right: 2px solid #333;
  z-index: 100;
}
.titlebox3{
  position: absolute;
    bottom: 0;
  width: 40px;
  height: 172px;
  color: #FFF;
  background-color: #428365;
  border-right: 6px solid #333;
  border-left: 2px solid #333;
}
.eventbox{
  background-image: url(/assets/dummy.png);
  background-size: cover;
}
.eventbox_info{
  color: #fff;
  font-size: 12px;
  text-align: left;
  padding: 10px;
  line-height: 1.8;
  background-color: rgba(0,0,0,0.35);
  width: 94%;
  position: absolute;
  bottom: 0;
}
.event_title,.event_place,.event_date{
  padding: 0 10px;
}
.event_title{
  text-overflow: ellipsis;
}
.squarebox .text01 {
  position: absolute;
  bottom: 55px;
  left: 50px;
}
.squarebox .text02 {
  position: absolute;
  top: 4px;
  left: 150px;
}
.squarebox .text03 {
  position: absolute;
  top: 11px;
  left: 60px;
}